<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img src="../../../assets/icons/icon-codigo.png" class="ms-3 icon"> Linea:
            <select>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
        </div>
        <div class="col">
            <img src="../../../assets/icons/icon-codigo.png" class="ms-3 icon"> Código:
            <select>
            <option value="">380</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
        </div>
        <div class="col primeraColumna">
            <img src="../../../assets/icons/icon-zona.png" class="icon"> Zona:
            <select>
            <option value="">METRO</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
        </div>
        <div class="col">
            <img src="../../../assets/icons/icon-precio.png" class="ms-4 icon-precio"> Precio propuesto <input type="text">
        </div>
        <div class="col">
            <img src="../../../assets/icons/icon-volumen.png" class="icon"> Volumen <input type="text">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="ms-3 d-flex align-items-center">
                <img src="../../../assets/img/cypto.png" class="icon-crypto"> Distribuye Cryoinfra
                <label class="switch ms-4">
                    <input type="checkbox">
                    <span class="slider round" checked></span>
                </label>
            </div>
        </div>
        <div class="col col-btnSimulacion">
            <a class="btn btn-primary simulacion me-4"><img src="../../../assets/icons/icon-ejecutar.png"><b> Ejecutar</b> simulación</a>
        </div>
    </div>
</div>