.navbar {
    background-color: white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    z-index: 999;
}

.img-logo {
    width: 10%;
    margin-left: 10px;
}

.navbar-brand {
    p {
        font-family: Roboto-Regular;
        color: #1F3569;
        text-decoration: none;
        font-size: 1.2em;
        display: inline;
    }
    b {
        color: #EF872F;
    }
}

.datosUser {
    p {
        font-family: Roboto-Regular;
        font-size: 1.2em;
    }
}

.d-flex {
    position: absolute;
    right: 30px;
}

@media (max-width:820px) {
    .navbar-brand {
        p {
            font-size: 0.7em;
        }
    }
    .datosUser {
        p {
            font-size: 0.8em;
        }
    }
    .d-flex {
        svg {
            font-size: 1.5em;
        }
    }
}