.navbar {
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(159, 150, 240, 0.15)!important;
    position: fixed;
    z-index: 999;
    width: 100vw;
}

.img-logo {
    width: 20%;
    margin-left: 10px;
}

.navbar-brand {
    p {
        font-family: Roboto-Regular;
        color: #1F3569;
        text-decoration: none;
        font-size: 1.2em;
        display: inline;
    }
    b {
        color: #EF872F;
    }
}

.datosUser {
    p {
        font-family: Roboto-Regular;
        font-size: 1.2em;
    }
}

.d-flex {
    position: absolute;
    right: 30px;
}