/* Table */

table {
    font-family: Roboto-Light;
    font-size: 0.8em;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    span {
        margin-left: 10px;
    }
    .txtResaltado {
        font-family: Roboto-Semibold;
        color: #1F3569;
    }
    tr:nth-of-type(odd) {
        background: #f6f6fc;
    }
    canvas {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 5px;
        margin-left: 10px;
    }
    b {
        color: #8a8987;
    }
    .color1 {
        background: #FA421B;
    }
    .color2 {
        background: #EF872F;
    }
    .color3 {
        background: #EF872F;
    }
    .color4 {
        background: #EF872F;
    }
    .color5 {
        background: #E4C71F;
    }
    .color6 {
        background: #E4C71F;
    }
    .color7 {
        background: #617E41;
    }
    .gridTabla1 {
        span {
            margin-left: 55px;
        }
    }
    .gridTabla2 {
        span {
            margin-right: 10px;
        }
    }
}

.containerTabla {
    height: 500px;
    overflow-y: visible;
}


/*Precio piso y precio propuesto*/

.presioPiso {
    width: 17vw;
    height: 550px;
    position: absolute;
    right: 51vw;
    border: 1px dashed #ACACA5;
    border-radius: 8px;
    text-align: center;
    margin-top: -60px;
    span {
        font-family: Roboto-semibold;
        font-size: 1em;
        color: #5B9BD5;
    }
}

.presioPropuesto {
    position: absolute;
    width: 16vw;
    height: 550px;
    right: 35vw;
    border: 1px dashed #ACACA5;
    border-radius: 8px;
    text-align: center;
    margin-top: -60px;
    span {
        font-size: 1em;
        font-family: Roboto-semibold;
        color: #5B9BD5;
    }
}


/*Resultados*/

.resultados {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    border-bottom: 0.5px dashed transparent !important;
    .tituloResultados {
        font-family: Roboto-Semibold !important;
        color: #1F3569 !important;
        span {
            font-size: 1.1em;
        }
    }
    img {
        width: 50%;
    }
    .posible {
        background: #FFFFFF;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        border-bottom: 2px dashed transparent !important;
        .division {
            z-index: 2 !important;
            font-size: 0.8em;
            line-height: 1em;
            font-family: Roboto-Semibold;
            font-size: 0.7em !important;
            color: #1F3569;
            text-align: center;
            margin-top: 10px;
            border-bottom: 2px dashed #1F3569;
        }
        .valor {
            font-size: 0.7em !important;
            line-height: 1em;
            margin-top: 10px;
            font-family: Roboto-Regular;
            color: #1F3569;
            text-align: center;
        }
        .colorUtilidad {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #617E41;
            margin-right: 5px;
        }
    }
}

.diferencia {
    background: #F2F2F2;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding-top: 18px;
    padding-bottom: 20px;
    margin-left: 2vw;
    margin-bottom: -20px;
    width: 60%;
    img {
        margin-left: 1vw !important;
        width: 70% !important;
    }
}

.costoOportunidad {
    color: #1F3569 !important;
    font-family: Roboto-Semibold !important;
    font-size: 0.5em !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background: #F2F2F2 !important;
    width: 90%;
    margin-left: 5%;
    margin-top: -10px;
    margin-bottom: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    svg {
        font-size: 0.6em;
    }
}

@media (max-width:820px) {
    .resultados {
        img {
            width: 100% !important;
        }
    }
    table {
        font-size: 0.5em !important;
        span {
            margin-left: 0px !important;
        }
    }
    .tbody {
        overflow-x: scroll;
    }
    .containerTabla {
        height: 550px;
        overflow-y: visible;
    }
    .presioPiso {
        width: 20vw;
        height: 561px;
        position: absolute;
        right: 22vw;
        span {
            font-size: 13px;
            margin-top: 20px !important;
        }
    }
    .presioPropuesto {
        position: absolute;
        width: 18vw;
        height: 561px;
        right: 4vw;
        span {
            font-size: 13px;
        }
    }
    span {
        text-align: center;
    }
}

@media (max-width:420px) {
    .presioPiso {
        height: 485px;
        width: 18vw !important;
        right: 4vw !important;
    }
    .presioPropuesto {
        height: 485px;
        width: 18vw !important;
        right: 22vw !important;
    }
}

@media (max-width:540px) {
    .presioPiso {
        height: 530px;
        width: 21vw !important;
        right: 22vw !important;
    }
    .presioPropuesto {
        height: 530px;
        width: 16vw !important;
        right: 4vw !important;
    }
    .facturacion {
        width: 55%!important;
    }
    .precioPiso {
        margin-right: -5px !important;
        font-size: 0.7em !important;
    }
    .utilidadOperativa {
        margin-right: -170px !important;
        font-size: 0.8em !important;
        span {
            color: white !important;
        }
    }
    .gastosVentaValor,
    .gastosCryogénicoValor,
    .costosVentaValor {
        font-size: 0.9em !important;
    }
    .gastosVenta {
        margin-top: 55px !important;
        margin-right: -55px !important;
        font-size: 0.8em !important;
        span {
            color: white !important;
        }
    }
    .gastosCryogénico {
        margin-left: -110px !important;
        margin-top: 40px !important;
        font-size: 0.8em !important;
        font-size: 0.8em !important;
        span {
            color: white !important;
        }
    }
    .costosVenta {
        font-size: 0.8em !important;
        margin-left: -220px !important;
        span {
            color: white !important;
        }
    }
    .costoOportunidad {
        span {
            font-size: 0.6em !important;
        }
    }
}

@media (max-width:820px) {
    .resultados {
        margin-top: -10px !important;
        span {
            font-size: 0.6em;
        }
        p {
            font-size: 0.7em;
        }
    }
    .presioPiso {
        height: 476px !important;
        width: 22vw !important;
        right: 27vw !important;
    }
    .presioPropuesto {
        height: 476px !important;
        width: 22vw !important;
        right: 5vw !important;
    }
    .gridTabla1 {
        span {
            margin-left: 70px !important;
        }
    }
}

@media (max-width:380px) {
    .presioPiso {
        height: 545px !important;
        width: 21vw !important;
        right: 25vw !important;
    }
    .presioPropuesto {
        height: 545px !important;
        width: 20vw !important;
        right: 4vw !important;
    }
    .facturacion {
        width: 55%!important;
    }
    .precioPiso {
        margin-right: -5px !important;
        font-size: 0.7em !important;
    }
    .utilidadOperativa {
        margin-right: -170px !important;
        font-size: 0.8em !important;
        span {
            color: white !important;
        }
    }
    .gastosVentaValor,
    .gastosCryogénicoValor,
    .costosVentaValor {
        font-size: 0.9em !important;
    }
    .gastosVenta {
        margin-top: 55px !important;
        margin-right: -55px !important;
        font-size: 0.8em !important;
        span {
            color: white !important;
        }
    }
    .gastosCryogénico {
        margin-left: -110px !important;
        margin-top: 40px !important;
        font-size: 0.8em !important;
        font-size: 0.8em !important;
        span {
            color: white !important;
        }
    }
    .costosVenta {
        font-size: 0.8em !important;
        margin-left: -220px !important;
        span {
            color: white !important;
        }
    }
    .costoOportunidad {
        span {
            font-size: 0.6em !important;
        }
    }
}

@media (max-width:400px) {
    .presioPiso {
        height: 530px;
        width: 20vw !important;
        right: 25vw !important;
    }
    .presioPropuesto {
        height: 530px;
        width: 20vw !important;
    }
}

@media (max-width:370px) {
    .presioPiso {
        height: 562px !important;
    }
    .presioPropuesto {
        height: 562px !important;
    }
    .resultados {
        margin-top: 10px !important;
    }
}

@media (max-width:280px) {
    .containerTabla {
        height: 600px;
    }
    .presioPiso {
        height: 676px !important;
        width: 25vw !important;
    }
    .presioPropuesto {
        height: 676px !important;
        width: 25vw !important;
        right: 29vw !important;
    }
}

@media (max-width:768px) {
    .presioPiso {
        height: 476px !important;
        width: 22vw !important;
        right: 27vw !important;
    }
    .presioPropuesto {
        height: 476px !important;
        width: 22vw !important;
        right: 5vw !important;
    }
    .gridTabla1 {
        span {
            margin-left: 70px !important;
        }
    }
}

@media (max-width:1024px) {
    .containerTabla {
        height: 610px;
        width: 95vw;
    }
}

@media (max-width:912px) {
    .containerTabla {
        height: 600px;
        width: 95vw;
    }
    .presioPiso {
        height: 576px !important;
        width: 21vw !important;
        right: 25vw !important;
    }
    .presioPropuesto {
        height: 576px !important;
        width: 20vw !important;
        right: 3vw !important;
    }
    .gridTabla1 {
        span {
            margin-left: 70px !important;
        }
    }
}

//filter
.container-fluid {
    width: 100vw;
    overflow-x: hidden;
    .row {
        font-family: Roboto-Regular;
        color: #575756;
        font-size: 1em !important;
        .col,
        .col-md-3 {
            padding: 10px;
            border-bottom: 0.5px dashed #ACACA5;
            img {
                width: 5%;
            }
            .icon-crypto {
                width: 25%;
            }
            input {
                font-family: Roboto-Light;
                width: 29%;
                height: 20px;
                background: #F2F2F2;
                box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
                border: transparent;
                border-radius: 6px;
            }
            input:focus {
                outline: none;
            }
            select {
                font-family: Roboto-Light;
                width: 61%;
                height: 20px;
                background: #F2F2F2;
                box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
                border: transparent;
                border-radius: 6px;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
            }
            select:focus {
                outline: none;
            }
            select:after {
                border-color: #fff transparent transparent transparent;
            }
        }
        .primeraColumna,
        .col-md-3 {
            border-right: 0.5px dashed #ACACA5;
        }
    }
}


/* Rounded sliders */

.switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 18px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F2F2F2;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 0px;
    bottom: 1px;
    background-color: #CBCBCA;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background: #F2F2F2;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    border: transparent;
}

input:focus+.slider {
    background: #F2F2F2;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    border: transparent;
}

input:checked+.slider:before {
    background-color: #617E41;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.simulacion {
    position: absolute;
    font-size: 1.1em;
    margin-top: -5px;
    right: 0;
    font-family: Roboto-Regular;
    background: #F2F2F2;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: transparent;
    color: #EF872F;
    b {
        color: #1F3569;
    }
    img {
        width: 12% !important;
    }
}

@media (max-width:820px) {
    body {
        overflow-x: hidden;
    }
    .icon {
        width: 8% !important;
    }
    .row {
        .col {
            .icon,
            .icon-precio {
                width: 8% !important;
            }
            .icon-precio {
                margin-left: -2px!important;
            }
            input {
                width: 40vw !important;
            }
            select {
                width: 40vw !important;
            }
        }
    }
    .col-btnSimulacion {
        padding: 3vh !important;
    }
    .simulacion {
        margin-top: -20px;
    }
}


/* Gauge Chart */

.precioPropuesto {
    font-family: Roboto-Semibold !important;
    margin-top: -50px;
}

.precioPiso {
    font-family: Roboto-Semibold !important;
    font-size: 0.6em;
    float: right;
    margin-top: 150px;
    margin-right: -45px;
    border-top: 1px dashed #ACACA5;
    padding-top: 10px;
}

.utilidadOperativa {
    font-family: Roboto-Regular !important;
    font-size: 0.7em;
    position: absolute;
    margin-top: 100px;
    margin-right: -350px;
}

.gastosVenta {
    font-family: Roboto-Regular !important;
    font-size: 0.7em;
    position: absolute;
    margin-top: -25px;
    margin-right: -170px;
}

.gastosVentaValor {
    font-family: Roboto-Semibold !important;
    font-size: 0.9em;
    position: absolute;
    margin-top: 40px;
    margin-left: 250px;
}

.gastosCryogénico {
    font-family: Roboto-Regular !important;
    font-size: 0.7em;
    position: absolute;
    margin-top: -30px;
    margin-left: -230px;
}

.gastosCryogénicoValor {
    font-family: Roboto-Semibold !important;
    font-size: 0.9em;
    position: absolute;
    margin-top: -5px;
    margin-left: -30px;
}

.costosVenta {
    font-family: Roboto-Regular !important;
    font-size: 0.7em;
    position: absolute;
    margin-top: 100px;
    margin-left: -360px;
}

.costosVentaValor {
    font-family: Roboto-Semibold !important;
    font-size: 0.9em;
    position: absolute;
    margin-top: 40px;
    margin-left: -280px;
}

.gauge-wraper {
    width: 300px;
    height: 150px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.gauge {
    position: absolute;
    bottom: -100%;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
}

.gauge::after {
    content: '';
    width: 120px;
    background: white;
    height: 120px;
    display: block;
    position: absolute;
    border-radius: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 60px);
    box-shadow: 0px 0px 2px 1px rgb(255 255 255 / 75%);
}

.range {
    width: 50%;
    height: 50%;
}

.first-half {
    background: rgb(252, 176, 69);
    background: linear-gradient(45deg, #FA421B 49%, rgba(241, 241, 241, 1) 50%, #EF872F 51%);
}

.second-half {
    background: linear-gradient(135deg, #E4C71F 49%, rgba(241, 241, 241, 1) 50%, #617E41 51%);
    border-left: 2px solid #fff;
    box-shadow: 8px 0px 2px 8px #fff;
}

.gauge-meter {
    width: 1px;
    height: 20px;
    transition: transform .5s;
}

.gauge-meter::after {
    content: '';
    position: absolute;
    border-top: 10px solid transparent;
    border-left: 5px solid transparent;
    border-right: 140px solid #CACACA;
    border-bottom: 10px solid transparent;
    bottom: 0;
    left: -140px;
    z-index: 9;
}