<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img src="../../../assets/icons/icon-codigo.png"> Código:
        </div>
        <div class="col primeraColumna">
            <img src="../../../assets/icons/icon-zona.png"> Zona:
        </div>
        <div class="col">
            <img src="../../../assets/icons/icon-precio.png"> Precio propuesto
        </div>
        <div class="col">
            <img src="../../../assets/icons/icon-volumen.png"> Volumen
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Distribuye Cryoinfra
        </div>
        <div class="col">
        </div>
    </div>
</div>