/* Table */

table {
    font-family: Roboto-Light;
    font-size: 0.8em;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    span {
        margin-left: 10px;
    }
    .txtResaltado {
        font-family: Roboto-Semibold;
        color: #1F3569;
    }
    tr:nth-of-type(odd) {
        background: #f6f6fc;
    }
    canvas {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 5px;
        margin-left: 10px;
    }
    b {
        color: #f0bf1e;
    }
    .color1 {
        background: #FA421B;
    }
    .color2 {
        background: #EF872F;
    }
    .color3 {
        background: #EF872F;
    }
    .color4 {
        background: #EF872F;
    }
    .color5 {
        background: #E4C71F;
    }
    .color6 {
        background: #E4C71F;
    }
    .color7 {
        background: #617E41;
    }
    .gridTabla1 {
        span {
            margin-left: 55px;
        }
    }
    .gridTabla2 {
        span {
            margin-right: 10px;
        }
    }
}

.containerTabla {
    height: 500px;
    overflow-y: visible;
}


/*Precio piso y precio propuesto*/

.presioPiso {
    width: 17vw;
    height: 550px;
    position: absolute;
    right: 51vw;
    border: 1px dashed #ACACA5;
    border-radius: 8px;
    text-align: center;
    margin-top: -60px;
    span {
        font-family: Roboto-semibold;
        font-size: 1em;
        color: #5B9BD5;
    }
}

.presioPropuesto {
    position: absolute;
    width: 16vw;
    height: 550px;
    right: 35vw;
    border: 1px dashed #ACACA5;
    border-radius: 8px;
    text-align: center;
    margin-top: -60px;
    span {
        font-size: 1em;
        font-family: Roboto-semibold;
        color: #5B9BD5;
    }
}


/*Resultados*/

.resultados {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    border-bottom: 0.5px dashed transparent !important;
    .tituloResultados {
        font-family: Roboto-Semibold;
        color: #1F3569;
        span {
            font-size: 1.1em;
        }
    }
    img {
        width: 50%;
    }
    .posible {
        background: #FFFFFF;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        border-bottom: 2px dashed transparent !important;
        .division {
            z-index: 2 !important;
            font-size: 0.8em;
            line-height: 1em;
            font-family: Roboto-Semibold;
            color: #1F3569;
            text-align: center;
            margin-top: 10px;
            border-bottom: 2px dashed #1F3569;
        }
        .valor {
            font-size: 0.8em;
            line-height: 1em;
            margin-top: 10px;
            font-family: Roboto-Regular;
            color: #1F3569;
            text-align: center;
        }
        .colorUtilidad {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #617E41;
            margin-right: 5px;
        }
        .divUtilidad {
            position: absolute
        }
        .utilidad {
            z-index: 1 !important;
            position: absolute;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            margin-top: -70px;
            margin-left: 2vw;
            background: #F2F2F2;
            border-radius: 8px;
            width: 80px;
            height: 80px;
            .iconUtilidad {
                width: 50px !important;
                height: 30px !important;
                position: absolute;
                width: 100px;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
}

@media (max-width:820px) {
    .resultados {
        img {
            width: 100% !important;
        }
    }
    table {
        font-size: 0.5em !important;
        span {
            margin-left: 0px !important;
        }
    }
    .tbody {
        overflow-x: scroll;
    }
    .containerTabla {
        height: 550px;
        overflow-y: visible;
    }
    .presioPiso {
        width: 20vw;
        height: 561px;
        position: absolute;
        right: 22vw;
        span {
            font-size: 13px;
            margin-top: 20px !important;
        }
    }
    .presioPropuesto {
        position: absolute;
        width: 18vw;
        height: 561px;
        right: 4vw;
        span {
            font-size: 13px;
        }
    }
    span {
        text-align: center;
    }
}

@media (max-width:420px) {
    .presioPiso {
        height: 485px;
        width: 18vw !important;
        right: 4vw !important;
    }
    .presioPropuesto {
        height: 485px;
        width: 18vw !important;
        right: 22vw !important;
    }
}

@media (max-width:540px) {
    .presioPiso {
        height: 485px;
        width: 18vw !important;
        right: 4vw !important;
    }
    .presioPropuesto {
        height: 485px;
        width: 18vw !important;
        right: 22vw !important;
    }
}

@media (max-width:820px) {
    .presioPiso {
        width: 14vw;
        height: 485px;
        right: 52vw;
    }
    .presioPropuesto {
        width: 14vw;
        height: 485px;
        right: 37vw;
    }
}

@media (max-width:380px) {
    .presioPiso {
        height: 562px !important;
        width: 20vw !important;
        right: 4vw !important;
    }
    .presioPropuesto {
        height: 562px !important;
        width: 20vw !important;
        right: 24vw !important;
    }
}

@media (max-width:400px) {
    .presioPiso {
        height: 562px;
    }
    .presioPropuesto {
        height: 562px;
        width: 21vw !important;
    }
}

@media (max-width:370px) {
    .presioPiso {
        height: 612px !important;
    }
    .presioPropuesto {
        height: 612px !important;
    }
}

@media (max-width:280px) {
    .containerTabla {
        height: 600px;
    }
    .presioPiso {
        height: 676px !important;
        width: 25vw !important;
    }
    .presioPropuesto {
        height: 676px !important;
        width: 25vw !important;
        right: 29vw !important;
    }
}

@media (max-width:1024px) {
    .containerTabla {
        height: 600px;
    }
}

@media (max-width:912px) {
    .containerTabla {
        height: 600px;
    }
}