<app-header></app-header>
<app-filter></app-filter>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mt-5">
            <div class="containerTabla">
                <div class="presioPiso">
                    <span class="mt-5">Precio piso</span>
                </div>
                <div class="presioPropuesto">
                    <span>Precio propuesto</span>
                </div>
                <div class="ms-3 mt-5">
                    <table class="table table-condensed">
                        <tbody>
                            <tr>
                                <td class="col-md-6"></td>
                                <td class="text-center">$ 14,82</td>
                                <td class="text-center">100%</td>
                                <td class="text-center">$ 12,00</td>
                                <td class="text-center">100%</td>
                            </tr>
                            <tr>
                                <td><canvas class="color1"></canvas> Costo de venta</td>
                                <td class="text-center">$ 14,82</td>
                                <td class="text-center">100%</td>
                                <td class="text-center">$ 12,00</td>
                                <td class="text-center">100%</td>
                            </tr>
                            <tr>
                                <td><canvas class="color2"></canvas>Gasto Cryogénico de mantenimiento de envases</td>
                                <td class="text-center">$ 14,82</td>
                                <td class="text-center">100%</td>
                                <td class="text-center">$ 12,00</td>
                                <td class="text-center">100%</td>
                            </tr>
                            <tr>
                                <td><canvas class="color3"></canvas>Gasto distribución</td>
                                <td class="text-center">$ 14,82</td>
                                <td class="text-center">100%</td>
                                <td class="text-center">$ 12,00</td>
                                <td class="text-center">100%</td>
                            </tr>
                            <tr>
                                <td><canvas class="color4"></canvas>Depreciación de activos</td>
                                <td class="text-center">$ 14,82</td>
                                <td class="text-center">100%</td>
                                <td class="text-center">$ 12,00</td>
                                <td class="text-center">100%</td>
                            </tr>
                            <tr>
                                <td class="txtResaltado">
                                    <span>Utilidad operativa antes de gastos de venta y administracion</span>
                                </td>
                                <td class="txtResaltado text-center">$ 14,82</td>
                                <td class="txtResaltado text-center">100%</td>
                                <td class="txtResaltado text-center">$ 12,00</td>
                                <td class="txtResaltado text-center">100%</td>
                            </tr>
                            <tr>
                                <td><canvas class="color5"></canvas>Gasto de venta</td>
                                <td class="text-center">$ 14,82</td>
                                <td class="text-center">100%</td>
                                <td class="text-center">$ 12,00</td>
                                <td class="text-center">100%</td>
                            </tr>
                            <tr>
                                <td><canvas class="color6"></canvas>Gasto de administración</td>
                                <td class="text-center">$ 14,82</td>
                                <td class="text-center">100%</td>
                                <td class="text-center">$ 12,00</td>
                                <td class="text-center">100%</td>
                            </tr>
                            <tr>
                                <td class="txtResaltado"><canvas class="color7"></canvas>Utilidad operativa neta</td>
                                <td class="txtResaltado text-center">$ 14,82</td>
                                <td class="txtResaltado text-center">100%</td>
                                <td class="txtResaltado text-center">$ 12,00</td>
                                <td class="txtResaltado text-center">100%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ms-3">
                    <table class="table table-condensed ">
                        <tbody>
                            <tr>
                                <td class="txtResaltado col-md-6"><span>Facturación <b>anual</b></span></td>
                                <td class="gridTabla1"><span>$ 148.201,86</span></td>
                                <td class="gridTabla2"><span>$  120.000,00</span></td>
                            </tr>
                            <tr>
                                <td class="txtResaltado"><span>Utilidad operativa antes de GV y &GADM <b>anual</b></span></td>
                                <td class="gridTabla1"><span>$ 148.201,86</span></td>
                                <td class="gridTabla2"><span>$  120.000,00</span></td>
                            </tr>
                            <tr>
                                <td class="txtResaltado"><span>Utilidad Operativa Neta <b>anual</b></span></td>
                                <td class="gridTabla1"><span>$ 148.201,86</span></td>
                                <td class="gridTabla2"><span>$  120.000,00</span></td>
                            </tr>
                            <tr>
                                <td class="txtResaltado"><span>Utilidad operativa neta grupo (INFRA + CRYOINFRA) <b>anual</b></span></td>
                                <td class="gridTabla1"><span>$ 148.201,86</span></td>
                                <td class="gridTabla2"><span>$  120.000,00</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col mt-5 me-4 ms-4 resultados mb-2">
            <div class="row tituloResultados ">
                <div class="ms-5 mt-3 ">
                    <i class="fa fa-bar-chart me-2 mt-4"></i>
                    <span>Gráfica </span>
                    <span style="color: #EF872F; ">Resultados</span>
                </div>
            </div>
            <div class="row mt-5 ">
                <img src="../../../assets/img/gauge-prueba.png " style="width: 460px; ">
            </div>
            <div class="row mt-5">
                <div class="col posible me-4 ms-4 mt-3 divUtilidad">
                    <div class="row utilidad text-center">
                        <img src="../../../assets/icons/icon-utilidad.png" class="iconUtilidad">
                    </div>
                    <div>
                        <div class="row division ">
                            <p>Utilidad operativa neta</p>
                        </div>
                        <div class="row valor ">
                            <p><canvas class="colorUtilidad"></canvas><b>Positiva "Creación de Valor"</b></p>
                        </div>
                    </div>
                </div>
                <div class="col posible me-4 ms-4 mt-3 ">
                    <div class="row division ">
                        <p>Diferencia en utilidad precio propuesto vs. piso</p>
                    </div>
                    <div class="row valor ">
                        <p>-$28.201,86</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>